spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/users
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 4

  jpa:
    database: postgresql
    hibernate:
      ddl-auto: create
  application:
    name: user-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:19090/eureka/
springdoc:
  api-docs:
    version: openapi_3_1
    enabled: true
    path: /users/v3/api-docs
  enable-spring-security: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
    endpoint:
      health:
        show-details: always
      prometheus:
        enabled: true
  zipkin:
    tracing:
      endpoint: "http://localhost:9411/api/v2/spans"
  tracing:
    sampling:
      probability: 1.0
server:
  port: 19093

slack:
  #token: xoxb-7750835290354-7747978570325-KtuMLBYr0jJ4tjVf7BHvdP1e